/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  line-height: 1.6;
  padding: 20px;
}

/* HEADER */
header {
  background: #1e293b;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 6px;
}

nav ul {
  list-style: none;
  margin-top: 10px;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* SECTIONS */
section  {
  background: white;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  max-width: 900px;
}

section h2 {
  margin-bottom: 12px;
  color: #111827;
}

/* FOOTER */
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}